* {
  height: 100%;

}


@font-face {
  font-family: Roboto;
  src: url(./font/Roboto-Bold.ttf);
}

@font-face {
  font-family: spartanSemi;
  src: url(./font/LeagueSpartan-SemiBold.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(./font/Oswald-Bold.ttf);
}

.line {
  width: 300px;
  height: 3px;
  margin: 0px;
  background-color: #E60505;
  margin-bottom: 20px;
}

.App {
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header {
  height: 550px;
  width: 100%;
  background-image: url("./img/headerimage.webp");
  display: block;
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header-rout {

  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  padding: 20px;
  margin: 0px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {

  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 30px;
  align-items: center;
  font-family: spartanSemi;
  color: #fff;
  letter-spacing: 1px;
}

.menu {
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 0px;
  margin-right: 50px;
}

.menu-p {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  list-style: none;
  font-size: 16px;
  font-family: Roboto;
  padding: 11px;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #fff;
}

.menu-p:hover {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  list-style: none;
  font-size: 16px;
  font-family: Roboto;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.7);

  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.header-main {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: spartanSemi;

}

.title {

  font-family: Oswald;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 80px;

}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  color: #fff;
  font-size: 22px;
}


.buttonHeader {
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border: 3px solid #fff;
  color: #fff;
  transition: 0.4s ease-in-out;

  padding: 5px;
}

.buttonHeader:hover {

  transition: 0.4s linear;
  color: #fff;
  font-size: 22px;
  border: 3px solid hsl(120, 34%, 41%);
  padding: 10px;
  cursor: pointer;
}

.buttonHeader:active {
  border: none;
}

.header-main-right {
  width: 50%;
  height: auto;
  max-height: 80%;
  display: flex;

  justify-content: flex-end;
  align-items: flex-end;

}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
  width: 50px;
  height: 50px;

}

.row {
  display: flex;
}

.dropdownMenu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 50px;
  width: auto;
  transition: 3s ease-in-out;
}

.items {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 3s ease-in-out;
}

.ddImage {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}



@media only screen and (max-width: 1100px) {
  .icons {
    display: none;
  }

  .header {
    height: auto;

  }

  .header-main {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (max-width: 990px) {
  .dropdownMenu {
    display: flex;
    transition: 3s ease-in-out;
    width: 100%;
    height: 100%;
    align-items: flex-end;

  }

  .ddImage {
    display: flex;
    margin-right: 35px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 0px;
  }

  .ddItem {
    font-family: Roboto;
    display: flex;
    color: black;
  }

  .ddItem:hover {
    color: #004080;
  }

  .items {

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    top: 60px;
    position: absolute;
    width: auto;
    height: 60px;
    transition: 3s ease-in-out;
  }

  .menu {
    display: none;
  }

  .header {
    height: auto;
    overflow-y: visible;

  }

  .header-main {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}


@media only screen and (max-width: 1100px) {
  .title {
    font-size: 7vw;
  }

  .line {
    width: 40vw;
  }

  .description {
    font-size: 3vw;
  }

  .header-rout {

    justify-content: center;
    align-items: center;
  }

  .ddImage {
    border-radius: none;
  }
}


@media only screen and (max-width: 350px) {
  .ddImage {

    margin-right: 0px;

  }
  .items{
    right: 3px;
  }
}